{% extends "PortfolioBundle::base.html.twig" %}

{% block pageTitle %}Błąd 404 {% endblock %}

{% block pageDesc %}Błąd 404 - nie znaleziono strony.{% endblock %}


{% block pageBody %}
<body class="projekty errorpage">

<div class="cover"></div>

<header id="projects_menu">

    {#{% include "PortfolioBundle::sticky-header.html.twig" %}#}

</header>

<section id="error">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>{% trans %}Zawędrowałeś na stronę której nie ma.{% endtrans %}</h2>
                {% image 'bundles/portfolio/img/error404.png' %}
                    <img class="img-responsive" src="{{ asset_url }}" alt="Błąd 404"/>
                {% endimage %}
            </div>
        </div>
    </div>

</section>

{% endblock %}


{% block scripts %}

    {% javascripts
        'bundles/portfolio/js/jquery-2.1.3.min.js'
        'bundles/portfolio/js/bootstrap.min.js'
        'bundles/portfolio/js/pace.min.js'
        'bundles/portfolio/js/main_script.js'
        output ='assets/js/compiled-projects.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

